.product-container img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-container {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product-names h4 {
    font-family: 'Lato';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.product-names {
    padding: 0 7px;
}

.product-info {
    margin-top: 15px;
    line-height: 4px;
}

.btn-cart {
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background: #FFE0B3;
}

.btn-cart:hover {
    background: lightsalmon;
}