.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    height: 80px;
    background-color: #000033;
    align-items: center;
}

.header-container a {
    color: white;
    text-decoration: none;
    padding-left: 33px;
}

.header-container a:hover {
    color: coral;

}